@keyframes index_banner {
  0% {
    transform: scaleX(0);
    transform-origin: 0;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0;
  }
}

@keyframes imgShine {
	0% {
  	background-size: 200%, 200%;
  	background-position: 0, 50%;
	}
	50% {
  	background-size: 100%, 100%;
  	background-position: 100%, 100%;
	}
  100% {
  	background-size: 200%, 200%;
  	background-position: 0, 50%;
	}
}

@keyframes txtShine {
  to {
    background-position: 100% 0, 0px 10px, 0px 40px, 0px 70px,
  }
}
