// Device width
// Reference: https://purecss.io/grids/
$sm: 35.5em; // 568px
$md: 48em; // 768px
$lg: 64em; // 1024px
$xl: 80em; // 1280px

// PC max width
$pc_max_width: 1200px;

// Gap
$m_gap: 10px; // mobile
$tb_gap: 20px; // tablet

// Fonts
$font_body: 'Roboto', 'Microsoft JhengHei', sans-serif;

// Colors
$white: rgba(255, 255, 255, 1);
$white_90: rgba(255, 255, 255, 0.9);
$white_50: rgba(255, 255, 255, 0.5);
$white_30: rgba(255, 255, 255, 0.3);
$black: rgba(0, 0, 0, 1);
$black_20: rgba(0, 0, 0, 0.2);
$black_90: rgba(0, 0, 0, 0.9);
$juksyStarsBg: rgba(26, 69, 128, 1);
$juksyStarsBg_90: rgba(26, 69, 128, 0.9);
$lightgray: rgba(204, 204, 204, 1);
$lightgray_50: rgba(204, 204, 204, 0.5);
$gray: rgba(102, 102, 102, 1);
$gray_dark: rgba(77, 77, 77, 1);
$gray_light: rgba(244, 244, 244, 1);
