// Device width
// Reference: https://purecss.io/grids/
$sm: 35.5em; // 568px
$md: 48em; // 768px
$lg: 64em; // 1024px
$xl: 80em; // 1280px

// PC max width
$pc_max_width: 970px;

// Gap
$m_gap: 20px; // mobile

// Fonts
$font_body: 'Roboto Condensed', 'Microsoft JhengHei', sans-serif;

// Colors
$master: rgba(255, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
