.about {
  h2.title {
    @include title;
    margin-top: 30px;
    color: $gray_dark;
    @include screen(md) {
      margin-top: 30px;
      &:after {
        background-color: $gray_dark;
      }
    }
    @include screen(xl) {
      margin-top: 70px;
    }
    .en {
      &:after {
        background-color: $gray_dark;
      }
    }
  }
  .timelist {
    margin: 0 $m_gap 50px $m_gap;
    @include screen(md) {
      margin: 0 $tb_gap 50px $tb_gap;
    }
    @include screen(xl) {
      width: $pc_max_width;
      margin: 0 auto 50px auto;
    }
    h3.title {
      font-size: 20px;
      border-bottom: 1px solid $lightgray;
      padding-bottom: 10px;
      @include screen(xl) {
        font-size: 30px;
      }
    }
    ul.list {
      margin-top: 20px;
      li {
        list-style: none;
        display: flex;
        color: $gray_dark;
        padding: 10px 10px 10px 0px;
        @include screen(xl) {
          align-items: center;
        }
        .year {
          font-weight: bold;
          margin-right: 20px;
          font-style: italic;
          font-size: 20px;
          @include screen(xl) {
            font-size: 30px;
          }
        }
        .description {
          line-height: 1.5em;
          @include screen(xl) {
            font-size: 18px;
          }
        }
        &:nth-child(even) {
          background-color: $gray_light;
        }
      }
    }
  }
}