.article {
  article {
    margin: 0 $m_gap;
    @include screen(md) {
      margin: 0 $tb_gap;
    }
    @include screen(lg) {
      width: 1000px;
      margin: 0 auto;
    }
    h1.title {
      font-size: 20px;
      margin-bottom: 10px;
      @include screen(md) {
        font-size: 32px;
      }
    }
    .cooperation {
      font-size: 12px;
      line-height: 40px;
      color: $gray;
      margin-bottom: 10px;
      @include screen(md) {
        font-size: 17px;
      }
      a:hover {
        opacity: 0.5;
        text-decoration: underline;
      }
    }
    .detail {
      position: relative;
      margin-bottom: 20px;
      @include screen(md) {
        display: flex;
        flex-flow: row wrap;
      }
      .detailWrap {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        @include screen(md) {
          margin-bottom: 0;
        }
        a.head {
          display: block;
          margin-right: 10px;
          img {
            width: 50px;
            height: 50px;
            border-radius: 25px;
            display: block;
          }
          &:hover {
            opacity: 0.5;
          }
        }
        .txtWrap {
          font-size: 14px;
          line-height: 1.5em;
          .author {
            font-weight: bold;
            &:after {
              content: '·';
              display: inline-block;
              margin: 0 5px;
            }
          }
          .date {
            display: block;
            @include screen(md) {
              display: inline-block;
            }
            a.category {
              color: $juksyStarsBg;
              font-weight: bold;
            }
          }
          a:hover {
            opacity: 0.5;
            text-decoration: underline;
          }
        }
      }
      .social {
        @include screen(md) {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          flex: 1 auto;
        }
        .pageview {
          color: $gray;
          font-weight: bold;
          svg {
            width: 18px;
            height: 18px;
            transform: translateY(3px);
            margin-right: 5px;
            .st0 {
              fill: $gray;
            }
          }
        }
        .fbLike,
        .fbShare {
          display: none;
          @include screen(md) {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          width: 100px;
          height: 30px;
          font-size: 14px;
          background-color: $fbLike;
          color: $white;
          font-weight: bold;
          text-align: center;
          margin-left: 5px;
          cursor: pointer;
          svg {
            width: 16px;
            height: 16px;
            margin-right: 5px;
            .st0 {
              fill: $white;
            }
          }
        }
        .fbLike {
          &:hover {
            .txt,
            .word {
              display: none;
            }
            .plugin {
              display: block;
            }
          }
          .plugin {
            display: none;
          }
        }
        .fbShare {
          background-color: $fbShare;
          transition: .5s;
          &:hover {
            background-color: $black;
            .txt {
              display: none;
            }
          }
        }
      }
      .fontSize {
        width: 40px;
        height: 40px;
        border: 1px solid $black;
        cursor: pointer;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
    .mainArticle {
      line-height: 2em;
      @include screen(md) {
        font-size: 18px;
      }
      img {
        width: 100%;
        height: auto;
        display: block;
        @include screen(md) {
          max-width: 600px;
          margin: 0 auto;
        }
      }
      p {
        margin: 10px 0;
      }
      a {
        color: $juksyStarsBg;
      }
      h1 {
        color: $articleH1;
        font-size: 20px;
        font-weight: bold;
        padding: 10px 0;
      }
      h2 {
        color: $articleH2;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 0;
      }
      ul.figcaption {
        margin: 5px 0 20px 0;
        text-align: inherit;
        @include screen(md) {
          max-width: 600px;
          margin: 5px auto 20px auto;
          line-height: 1em;
        }
        li {
          list-style: none;
          display: block;
          &.h1 {
            font-size: 14px;
            text-align: left;
            color: $black;
            font-weight: bold;
            @include screen(md) {
              display: inline;
              margin-right: 10px;
            }
          }
          &.desc {
            font-size: 12px;
            text-align: justify;
            line-height: 2em;
            color: $black;
            @include screen(md) {
              font-size: 14px;
              display: inline;
            }
            a {
              color: $black;
              text-decoration: underline;
            }
          }
          &.cite {
            font-size: 10px;
            text-align: right;
            line-height: 2em;
            color: $gray;
            a {
              color: $gray;
            }
          }
        }
      }
      iframe[src^='https://www.youtube.com'], iframe[src^='//www.youtube.com'] {
        @include screen(md) {
          margin: 0 calc((100% - 600px)/2);
        }
      }
      .fr-instagram, .fr-facebook {
        @include screen(md) {
          max-width: 600px !important;
          margin: 0 calc((100% - 600px)/2) !important;
        }
      }
    }
    .pagination {
      // display: flex;
      font-size: 20px;
      line-height: 24px;
      font-weight: bold;
      @include screen(md) {
        width: 400px;
        margin: 0 auto;
      }
      a.btn {
        svg {
          width: 20px;
          height: 20px;
          margin: 0 5px;
          transform: translateY(3px);
          transform-origin: 50% 50%;
        }
        &.next {
          text-align: right;
        }
        &:hover {
          opacity: 0.5;
        }
      }
      ul.page {
        text-align: center;
        li {
          list-style: none;
          display: inline-block;
          margin: 0 10px 10px 10px;
          transition: .5s;
          &.active {
            border-bottom: 1px solid $black;
          }
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}
