.index {
  section.indexSlider {
    position: relative;
    margin-bottom: 30px;
    .sliderItem {
      .banner {
        a {
          display: block;
          position: relative;
          picture {
            display: block;
            img {
              width: 100%;
              height: auto;
              display: block;
            }
          }
          .title {
            display: block;
            position: absolute;
            bottom: 0;
            background: linear-gradient(to bottom, transparent 0%, $black 100%);
            padding: 30px 0 50px 0;
            width: 100%;
            h3 {
              color: $white;
              font-size: 20px;
              text-align: center;
              padding: 0 30px;
              @include screen(xl) {
                font-size: 25px;
              }
            }
          }
        }
      }
    }
    .white_30s {
      position: absolute;
      bottom: 10px;
      width: 100%;
      text-align: center;
      .owl-dot {
        display: inline-block;
        span {
          cursor: pointer;
          display: block;
          width: 40px;
          padding: 10px 0;
          margin: 0 5px;
          background-color: transparent;
          &:after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: $white_30;
            transition: all 0.5s;
          }
        }
        span:hover {
          &:after {
            background-color: $white;
          }
        }
      }
      .owl-dot.active {
        span {
          position: relative;
          &:before {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: $white_30;
            position: absolute;
            left: 0;
            top: 8px;
          }
          &:after {
            background-color: $white;
            animation: index_banner 5s linear;
            position: absolute;
            left: 0;
            top: 8px;
          }
        }
      }
    }
  }
  h2.title {
    text-align: center;
    font-weight: 900;
    display: block;
    margin-bottom: 30px;
    @include screen(md) {
      text-align: left;
      margin: 0 auto 30px auto;
      padding: $tb_gap;
      &:after {
        content: '';
        display: block;
        width: 100px;
        height: 7px;
        background-color: $black;
      }
    }
    @include screen(xl) {
      width: $pc_max_width;
      padding: 0;
    }
    .en {
      font-size: 30px;
      letter-spacing: 1px;
      @include screen(md) {
        font-size: 42px;
        display: inline-block;
      }
      &:after {
        content: '';
        display: block;
        width: 100px;
        height: 5px;
        margin: 6px auto;
        background-color: $black;
        @include screen(md) {
          width: 5px;
          height: 30px;
          margin: 0 20px;
          display: inline-block;
        }
      }
    }
    .ch {
      font-size: 24px;
      letter-spacing: 3px;
      @include screen(md) {
        display: inline-block;
        font-size: 30px;
      }
    }
  }
  section.juksyStars {
    margin: 0 $m_gap 50px $m_gap;
    background: linear-gradient(to bottom, transparent 10%, $juksyStarsBg_1 10%, $juksyStarsBg_1 90%, transparent 90%);
    @include screen(md) {
      margin: 0 $tb_gap 50px $tb_gap;
      background: none;
    }
    @include screen(xl) {
      width: $pc_max_width;
      margin: 0 auto 50px auto;
    }
    .indexMag {
      position: relative;
      .magWrap {
        color: $white;
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        .num {
          font-size: 50px;
          margin-top: 70%;
          font-weight: 900;
          &:after {
            content: '';
            display: block;
            width: 40px;
            height: 1px;
            background-color: $white;
            margin: -5px auto 10px auto;
          }
        }
        .month {
          text-transform: uppercase;
        }
        a.mag {
          @include imgSkeloton;
          display: block;
          margin-right: 10%;
          min-height: 250px;
          @include screen(md) {
            margin-right: 0;
            min-height: 471px;
          }
          @include screen(lg) {
            min-height: 313px;
          }
          @include screen(xl) {
            min-height: 383px;
          }
          img {
            display: block;
            width: 100%;
            height: auto;
          }
        }
      }
      .indexMagNav {
        position: absolute;
        right: 3%;
        top: 30%;
        @include screen(md) {
          right: inherit;
          top: inherit;
          width: 100%;
        }
        .owl-prev, .owl-next {
          width: 35px;
          height: 42px;
          background-color: $black_90;
          background-image: url('~img/index/indexMagPrev.svg');
          background-repeat: no-repeat;
          background-size: 100% auto;
          background-position: center;
          @include screen(md) {
            width: 50px;
            height: 50px;
            position: absolute;
            top: -280px;
          }
          @include screen(lg) {
            top: -180px;
          }
          @include screen(xl) {
            top: -220px;
          }
        }
        .owl-prev {
          margin-bottom: 10px;
        }
        .owl-next {
          transform: rotate(180deg);
          transform-origin: 50% 50%;
          @include screen(md) {
            right: 0;
          }
        }
      }
    }
  }
}
