.nav {
  height: $m_navHeight;
  @include screen(lg) {
    height: $m_navHeight;
  }
  @include screen(xl) {
    height: $pc_navHeight;
  }
  .navGroup {
    width: 100%;
    .navWrap {
      background-color: $white;
      height: $m_navHeight;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $lightgray;
      @include screen(lg) {
        border-bottom: none;
        box-shadow: 0 0 10px $black_20;
      }
      @include screen(xl) {
        height: $pc_navHeight;
      }
      .mobileMenu {
        width: 30px;
        position: relative;
        margin-top: 5px;
        margin-left: 15px;
        .line {
          width: 100%;
          border-bottom: 3px solid $black;
          margin-bottom: 8px;
          transition: .5s;
        }
        label.openMenu {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
      }
      a.juksy {
        display: block;
        width: 120px;
        margin-top: 5px;
        margin-left: 30px;
        animation: fadeInDown 1s cubic-bezier(0.165, 0.84, 0.44, 1);
        @include screen(xl) {
          width: 220px;
        }
      }
      ul.icon {
        overflow: hidden;
        margin-right: 10px;
        @include screen(md) {
          margin-right: 15px;
        }
        @include screen(lg) {
          margin-right: 35px;
        }
        li {
          list-style: none;
          display: block;
          float: left;
          position: relative;
          cursor: pointer;
          transition: .5s;
          svg {
            display: inline-block;
            width: 20px;
            height: 20px;
            @include screen(xl) {
              width: 30px;
              height: 30px;
            }
          }
          &:after {
            content: '';
            display: inline-block;
            width: 1px;
            height: 12px;
            margin: 0 6px;
            background-color: $black;
            transform: translateY(-3px);
            @include screen(md) {
              margin: 0 10px;
            }
            @include screen(xl) {
              height: 15px;
              transform: translateY(-7px);
            }
          }
          label.openSearch, label.closeSearch {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            cursor: pointer;
          }
          label.closeSearch {
            display: none;
          }
          &:hover {
            opacity: 0.5;
          }
        }
        li:last-child {
          &:after {
            display: none;
          }
        }
      }
    }
    .searchfixed {
      display: none;
      background-color: $black_90;
      color: $white;
      height: 100vh;
      .searchfixedWrap {
        padding: 60px 40px 0 40px;
        @include screen(lg) {
          padding: 100px 0 0 0;
          width: 700px;
          margin: 0 auto;
        }
        form.inputWrap {
          margin-bottom: 80px;
          .inputDiv {
            overflow: hidden;
            input[type="text"] {
              display: block;
              margin: 0 0 10px 0;
              padding: 0;
              width: 100%;
              font-family: sans-serif;
              appearance: none;
              box-shadow: none;
              border-radius: 0;
              border: none;
              border-bottom: 1px solid $white_50;
              background-color: transparent;
              font-family: $font_body;
              font-size: 24px;
              line-height: 1.5em;
              letter-spacing: 2px;
              text-align: center;
              font-weight: 900;
              color: $white;
              transition: .5s;
              @include screen(md) {
                font-size: 34px;
                width: calc(100% - 50px);
                float: left;
                text-indent: 50px;
              }
              &:focus {
                border-bottom: 1px solid $white;
              }
            }
            input[type="text"]:focus {
              outline: none;
            }
            .submit {
              width: 40px;
              height: 40px;
              float: right;
              color: $white;
              border: none;
              background: none;
              appearance: none;
              margin: 10px 0 0 0;
              padding: 0;
              background-image: url('~img/search.svg');
              background-position: center;
              background-repeat: no-repeat;
              cursor: pointer;
            }
          }
          .description {
            text-align: center;
            font-weight: bold;
            letter-spacing: 1px;
            @include screen(md) {
              font-size: 18px;
            }
          }
        }
        h2.keywords {
          line-height: 2em;
          @include screen(md) {
            font-size: 18px;
          }
          ul.keywordWrap {
            line-height: 1.5em;
            @include screen(md) {
              display: inline-block;
              margin-left: 10px;
            }
            li {
              list-style: none;
              display: inline-block;
              margin: 8px 10px 8px 0px;
              a {
                h3 {
                  padding: 5px 15px;
                  border: 1px solid $white;
                  transition: .5s;
                }
                &:hover {
                  h3 {
                    background-color: $white;
                    color: $black;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .navGroup.fixed {
    position: fixed;
    z-index: 3;
    top: 0;
    animation: fadeInDown 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    .navWrap {
      a.juksy {
        animation: none;
      }
    }
  }
}
input[id="searchOpen"]:checked ~ .header .nav .navGroup {
  position: fixed;
  z-index: 3;
  ul.icon {
    li.searchIcon {
      svg {
        .st0 {
          fill: $juksyStarsBg;
        }
      }
      label.closeSearch {
        display: block;
      }
    }
  }
  .searchfixed {
    display: block;
    animation: fadeInUp 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}