.search {
  min-height: 100vh;
  h2.title {
    font-size: 18px;
    margin: 0 $m_gap 20px $m_gap;
    @include screen(md) {
      margin: 0 $tb_gap 20px $tb_gap;
    }
    @include screen(lg) {
      font-size: 34px;
    }
    @include screen(xl) {
      width: $pc_max_width;
      margin: 0 auto 20px auto;
    }
  }
  .searchResult {
    margin: 0 $m_gap 50px $m_gap;
    @include screen(md) {
      margin: 0 $tb_gap 50px $tb_gap;
    }
    @include screen(xl) {
      width: $pc_max_width;
      margin: 0 auto 50px auto;
    }
    ul.srhArticles {
      li {
        list-style: none;
        display: block;
        padding-top: 20px;
        margin-bottom: 20px;
        border-top: 1px solid $lightgray;
        @include screen(md) {
          overflow: hidden;
        }
        a.img {
          display: block;
          position: relative;
          @include imgSkeloton;
          min-height: 157px;
          &:empty {
            min-height: 157px;
          }
          &:hover {
            opacity: 0.8;
          }
          @include screen(md) {
            display: inline-block;
            min-height: 223px;
            &:empty {
              min-height: 223px;
            }
          }
          @include screen(lg) {
            min-height: 302px;
            &:empty {
              min-height: 302px;
            }
          }
          @include screen(xl) {
            min-height: 368px;
            &:empty {
              min-height: 368px;
            }
          }
          img {
            @include img;
            opacity: 0;
          }
        }
        .txtWrap {
          @include screen(md) {
            float: right;
          }
          .detail {
            padding: 5px 0;
            color: $gray_dark;
            font-size: 14px;
            @include txtSkeloton;
            @include screen(md) {
              width: calc(100% - 40px);
              padding: 18px 20px;
              font-weight: bold;
              overflow: hidden;
              &:empty {
                width: calc(100% - 60px);
                margin: 20px 0 0 20px;
              }
            }
            @include screen(lg) {
              width: calc(100% - 60px);
              padding: 30px 30px 20px 30px;
              &:empty {
                width: calc(100% - 80px);
                min-height: 100px;
              }
            }
            @include screen(xl) {
              width: calc(100% - 80px);
              padding: 30px 40px 20px 40px;
              font-size: 16px;
              &:empty {
                width: calc(100% - 100px);
              }
            }
            .date {
              &:after {
                content: '';
                display: inline-block;
                width: 1px;
                height: 8px;
                background-color: $gray_dark;
                margin: 0 10px;
                @include screen(md) {
                  margin: 0 5px;
                }
                @include screen(lg) {
                  margin: 0 10px;
                }
              }
            }
            .author {
              @include screen(md) {
                display: inline-block;
                font-size: 10px;
              }
              @include screen(lg) {
                font-size: 14px;
              }
              @include screen(xl) {
                font-size: 16px;
              }
            }
          }
          a.title {
            display: block;
            margin: 5px 0 0 0;
            font-size: 18px;
            line-height: 1.5em;
            max-height: 3em;
            overflow: hidden;
            text-align: left;
            @include screen(md) {
              margin: 5px 20px 0 20px;
            }
            @include screen(lg) {
              margin: 5px 30px 0 30px;
              font-size: 24px;
            }
            @include screen(xl) {
              margin: 5px 40px 0 40px;
            }
            &:hover {
              color: $juksyStarsBg;
            }
          }
          .description {
            margin: 10px 20px 0 20px;
            font-size: 12px;
            line-height: 1.8em;
            max-height: 3.6em;
            overflow: hidden;
            @include screen(lg) {
              margin: 10px 30px 0 30px;
              font-size: 14px;
              min-height: 3.6em;
              max-height: 5.4em;
            }
            @include screen(xl) {
              margin: 20px 40px 40px 40px;
              font-size: 16px;
              line-height: 2em;
              min-height: 4em;
              max-height: 6em;
            }
          }
          a.readmore {
            padding: 5px 20px;
            background-color: $black;
            border: 1px solid $black;
            color: $white;
            width: 100px;
            margin: 10px auto 0 auto;
            text-align: center;
            @include screen(lg) {
              margin: 20px auto 0 auto;
            }
            @include screen(xl) {
              width: 130px;
              font-size: 18px;
            }
            &:hover {
              background-color: $white;
              color: $black;
            }
          }
        }
      }
      li:first-child {
        padding-top: 0;
        border-top: none;
      }
    }
  }
  a.more {
    @include moreBtn;
    margin-bottom: 50px;
  }
  .notFound {
    margin: 0 $m_gap 50px $m_gap;
    padding-top: 50px;
    @include screen(md) {
      margin: 0 $tb_gap 50px $tb_gap;
    }
    @include screen(xl) {
      width: $pc_max_width;
      margin: 0 auto 50px auto;
    }
    form.searchBar {
      margin-bottom: 30px;
      @include screen(md) {
        margin-bottom: 80px;
      }
      input[type="text"] {
        width: 70%;
        margin: 0;
        padding: 0;
        appearance: none;
        box-shadow: none;
        border-radius: 0;
        border: 1px solid $gray;
        font-family: $font_body;
        color: $gray;
        font-size: 16px;
        line-height: 2em;
        letter-spacing: 2px;
        text-indent: 10px;
        font-weight: 900;
        transition: .5s;
        @include screen(lg) {
          width: calc(100% - 200px);
        }
        &:focus {
          border: 1px solid $black;
        }
      }
      input[type="text"]:focus {
        outline: none;
      }
      .submit {
        width: calc(30% - 4px);
        margin: 0;
        padding: 0;
        appearance: none;
        background: none;
        border-radius: 0;
        font-family: $font_body;
        font-weight: bold;
        letter-spacing: 1px;
        color: $white;
        font-size: 16px;
        line-height: 2em;
        border: 1px solid $black;
        background-color: $black;
        cursor: pointer;
        @include screen(lg) {
          width: calc(200px - 4px);
        }
      }
    }
    h2.notFoundTxt {
      margin-bottom: 100px;
      letter-spacing: 2px;
      line-height: 1.8em;
      @include screen(md) {
        font-size: 25px
      }
      .en {
        letter-spacing: 1px;
        font-size: 20px;
        @include screen(md) {
          font-size: 35px
        }
      }
    }
    h2.keywords {
      line-height: 2em;
      @include screen(md) {
        font-size: 18px;
      }
      ul.keywordWrap {
        line-height: 1.5em;
        @include screen(md) {
          display: inline-block;
          margin-left: 10px;
        }
        li {
          list-style: none;
          display: inline-block;
          margin: 8px 10px 8px 0px;
          a {
            h3 {
              padding: 5px 15px;
              color: $white;
              background-color: $black;
              border: 1px solid $black;
              transition: .5s;
            }
            &:hover {
              h3 {
                background-color: $white;
                color: $black;
              }
            }
          }
        }
      }
    }
  }
}