extends common/base.pug

include common/meta.mixin.pug
block meta.seo
  +seo(
  '隱私權 - JUKSY 街星',
  '流行,潮流,街頭,生活,娛樂,時尚,精品,穿搭,影音,音樂,電影,設計,藝術',
  '貼近人性，建立風格，創造影響。矢志報導一切新鮮、趣味、流行的人、事、時、地、物。在這裡我們可以每天隨時：新奇、有趣、有型!')
block meta.fb
  +fb(
  '195769958936',
  'https://juksy.com',
  'website',
  '隱私權 - JUKSY 街星',
  '貼近人性，建立風格，創造影響。矢志報導一切新鮮、趣味、流行的人、事、時、地、物。在這裡我們可以每天隨時：新奇、有趣、有型!',
  'https://juksy-demo.github.io/website2017/dist/src/img/fb.png'
  )
block main
  main.privacy
    h2.title
      .en POLICY
      .ch 隱私權
    ol.policy
      li
        h3 隱私權保護政策的內容
        ul
          li JUKSY非常重視您的隱私權。請您閱讀以下有關隱私權保護政策的更多內容。JUKSY使用您個人資料的方式本政策涵蓋的內容包括：JUKSY如何處理蒐集或收到的個人資料 (包括與您過去使用JUKSY產品及服務相關的資料)。個人資料是指得以識別您的身分且未公開的資料，如姓名、地址、電子郵件地址或電話號碼。本隱私權保護政策只適用於JUKSY。
      li
        h3 資料蒐集及使用
        ul
          li 在您註冊JUKSY帳號、使用JUKSY產品或服務、瀏覽JUKSY網頁或某些合作夥伴的網頁，以及參加宣傳活動或贈獎遊戲時，JUKSY會蒐集您的個人資料。JUKSY也可能從商業夥伴或其他公司處取得您的個人資料，並將這些資料與JUKSY所擁有的您的個人資料相結合。當您在JUKSY註冊時，我們會詢問您的姓名、電子郵件地址、出生日期、性別、郵遞區號、職位、行業及個人興趣等資料。在您使用某些金融服務時，我們可能還會詢問您的住址、身分證號碼以及您財產的相關資料。在您註冊JUKSY帳號並登入我們的服務後，我們就能辨別您的身分。JUKSY蒐集您與我們或我們的商業夥伴交易的資料，包括您使用我們所提供金融服務的相關資料。JUKSY也自動接收並記錄您電腦和瀏覽器上的資料，包括IP位址、JUKSY cookie中的資料、軟體和硬體屬性以及您瀏覽的網頁紀錄。JUKSY一般將資料用作以下用途：客製化廣告及您看到的網頁內容、滿足您對產品和服務的要求、改進我們的服務、聯絡您、進行研究，以及提供內部及外部客戶匿名報告。
      li
        h3 資料分享與揭露
        ul
          li 除非是為了向您提供您所要求的產品或服務、獲得您的授權，或有以下情形，否則JUKSY不會向任何其他人士或非關係企業出借或出售您的個人資料，或與之分享：我們向已簽署保密協議書之代表JUKSY執行業務或與我們共事的值得信賴的合作夥伴提供這些資料。這些公司可能會將您的個人資料用於協助JUKSY就我們和行銷夥伴所提供產品及服務的事宜，與您進行溝通。但這些公司無獨立權利分享這些資料。
            ol
              li JUKSY，或對訴訟上之請求提出防禦。
              li 我們認為為了調查和防止非法活動、涉嫌詐欺、對人身安全有潛在威脅的狀況、對JUKSY服務條款的違反，或為了對上述情形採取應對措施，或法律另有規定，而有必要分享您的個人資料時。
              li 如果JUKSY被其他公司收購或合併，我們會將您的個人資料移轉給該公司。如果發生這種情況，JUKSY會在您的個人資料被移轉且將適用不同的隱私權政策前通知您。
      li
        h3 Cookie
        ul
          li JUKSY會在您的電腦上設定並存取JUKSY Cookie。JUKSY允許在某些JUKSY網頁上刊登廣告的其他公司在您的電腦上設定並存取 cookie。其他公司將根據其自訂的隱私權政策使用其cookie，並非依據本政策。廣告主或其他公司不能存取JUKSY的 cookie。您修改及刪除個人帳號資料及偏好設定的能力 您可隨時修改個人JUKSY帳號資料，包括行銷偏好設定。JUKSY可能會不定時在行銷偏好設定頁面上新增新類別的行銷訊息。瀏覽此頁面的使用者可選擇退出接收新類別的行銷訊息，或按照所收訊息中的指示取消訂閱這些訊息。我們保有權利向您傳送JUKSY服務相關的特定訊息 (如服務公告、管理訊息)，這些訊息被視為您JUKSY帳號的一部分，您無法選擇退出接收。
      li
        h3 機密性和安全性
        ul
          li 我們會將有權存取您個人資料之員工限於我們合理相信是為了向您提供產品或服務或為了完成工作而需要取得這些資料的員工。我們已採取符合法規要求的實體、電子和程序防護措施，以保護您個人資料的安全。
      li
        h3 隱私權保護政策修訂
        ul
          li JUKSY可不時修訂本政策。當我們在個人資料的處理上有重大變更時，會將通知傳送到您在JUKSY帳號中指定的主要電子郵件地址，或在我們的網站上張貼告示。問題和建議如果您有任何問題或建議，請透過 
            a(href='mailto:info@juksy.com') info@juksy.com 
            | 客服信箱與我們聯繫。
