extends common/base.pug

include common/meta.mixin.pug
block meta.seo
  +seo(
  '搜尋：王金平 - JUKSY 街星',
  '流行,潮流,街頭,生活,娛樂,時尚,精品,穿搭,影音,音樂,電影,設計,藝術',
  '貼近人性，建立風格，創造影響。矢志報導一切新鮮、趣味、流行的人、事、時、地、物。在這裡我們可以每天隨時：新奇、有趣、有型!')
block meta.fb
  +fb(
  '195769958936',
  'https://juksy.com',
  'website',
  '搜尋：王金平 - JUKSY 街星',
  '貼近人性，建立風格，創造影響。矢志報導一切新鮮、趣味、流行的人、事、時、地、物。在這裡我們可以每天隨時：新奇、有趣、有型!',
  'https://juksy-demo.github.io/website2017/dist/src/img/fb.png'
  )
block main
  main.search
    .notFound
      form.searchBar
        input(type='text', name='q', placeholder='SEARCH', value='王金平')
        input.submit(type="submit", value="SEARCH")
      h2.notFoundTxt
        .en No results for your search
        | 沒有搜尋到符合項目的文章
      h2.keywords 熱門搜尋：
        ul.keywordWrap
          li
            a(href='./')
              h3 帆船鞋
          li
            a(href='./')
              h3 adidas
          li
            a(href='./')
              h3 中長髮
          li
            a(href='./')
              h3 牛仔褲
          li
            a(href='./')
              h3 Reebok
          li
            a(href='./')
              h3 後背包