doctype html
html(lang="zh-TW")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block meta.extra
    block meta.seo
    block meta.fb
    block meta.juksy
    include favicon.pug
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    include googledfp.pug
    include facebook.pug
  body
    // THIRD PARTY
    #fb-root
    // THIRD PARTY END
    include header.pug
    include nav.pug
    // MAIN
    block main
    // MAIN END
    include footer.pug