doctype html
html(lang="zh-TW")
  head
    meta(charset='UTF-8')
    meta(name = 'viewport', content = 'width=device-width, initial-scale=1')
    block meta.seo
    block meta.fb
    include favicon.pug
    block meta.juksy
  body
    block header
    block nav
    block main
    block footer