// FAVICON
link(rel='shortcut icon', href='src/img/juksy.ico')

meta(name='apple-mobile-web-app-title', content='JUKSY 街星')
link(rel='apple-touch-icon', sizes='57x57', href='src/img/apple-touch-icon-57.png')
link(rel='apple-touch-icon', sizes='60x60', href='src/img/apple-touch-icon-60.png')
link(rel='apple-touch-icon', sizes='72x72', href='src/img/apple-touch-icon-72.png')
link(rel='apple-touch-icon', sizes='76x76', href='src/img/apple-touch-icon-76.png')
link(rel='apple-touch-icon', sizes='114x114', href='src/img/apple-touch-icon-114.png')
link(rel='apple-touch-icon', sizes='120x120', href='src/img/apple-touch-icon-120.png')
link(rel='apple-touch-icon', sizes='144x144', href='src/img/apple-touch-icon-144.png')
link(rel='apple-touch-icon', sizes='152x152', href='src/img/apple-touch-icon-152.png')
link(rel='apple-touch-icon', sizes='180x180', href='src/img/apple-touch-icon-180.png')

meta(name='application-name', content='JUKSY 街星')
link(rel='manifest', href='src/img/manifest.json')
link(rel='icon', type='image/png', href='src/img/android-chrome-192.png', sizes='192x192')

// FAVICON END
