.mobileNav
  .mobileNavWrap
    ul.mnav
      li
        a(href='#')
          span 主題特企
      li.channel.arrow
        span 街頭熱
        label(for='channelOpen')
        ul
          li
            a(href='#')
              span 流行
            ul
              li
                a(href='#')
                  span 流行新訊
              li
                a(href='#')
                  span 品牌故事
              li
                a(href='#')
                  span 市場快訊
          li
            a(href='#')
              span 球鞋
          li
            a(href='#')
              span 造型
            ul
              li
                a(href='#')
                  span 男性
              li
                a(href='#')
                  span 女性
          li
            a(href='#')
              span 美妝
            ul
              li
                a(href='#')
                  span 保養
              li
                a(href='#')
                  span 彩妝
          li
            a(href='#')
              span 娛樂
            ul
              li
                a(href='#')
                  span 星聞
              li
                a(href='#')
                  span 音樂
              li
                a(href='#')
                  span 影視
          li
            a(href='#')
              span 運動
          li
            a(href='#')
              span 生活
            ul
              li
                a(href='#')
                  span 話題
              li
                a(href='#')
                  span 美食
              li
                a(href='#')
                  span 旅遊
          li
            a(href='#')
              span 兩性
          li
            a(href='#')
              span 專題
            ul
              li
                a(href='#')
                  span 主題特企
              li
                a(href='#')
                  span 人物專訪
      li
        a(href='#')
          span 獨家企劃
      //- li.country.arrow
      //-   span 台灣
      //-   label(for='countryOpen')
      //-   ul
      //-     li
      //-       a(href='https://my.juksy.com/')
      //-         span 馬來西亞
    ul.social
      li
        a.icon(href='https://www.facebook.com/juksymag', target='_blank')
          svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 40 40", xml:space="preserve")
            path.st0(d="M21.8,31.6V21h3.5l0.5-4.1h-4.1v-2.6c0-1.2,0.3-2,2-2l2.2,0V8.6c-0.4,0-1.7-0.2-3.2-0.2c-3.1,0-5.3,1.9-5.3,5.4	v3H14V21h3.5v10.5H21.8z")
      li
        a.icon(href='https://www.youtube.com/user/JuksyTV', target='_blank')
          svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 40 40", xml:space="preserve")
            polygon.st0(points="13.3,13.5 28.7,21.5 13.3,29.5 ")
      li
        a.icon(href='https://www.instagram.com/juksy_mag/', target='_blank')
          svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 40 40", xml:space="preserve")
            path.st0(d="M20.4,10.8c-4.9,0-8.8,3.9-8.8,8.8s3.9,8.8,8.8,8.8s8.8-3.9,8.8-8.8S25.3,10.8,20.4,10.8z M20.4,25.3		c-3.2,0-5.7-2.6-5.7-5.7s2.6-5.7,5.7-5.7c3.2,0,5.7,2.6,5.7,5.7S23.6,25.3,20.4,25.3z")
            circle.st0(cx="29.6", cy="10.4", r="2.1")
